body {
    margin: 0;
    padding: 0;
    background-color: white;
  }

.top{
    height: 13%;
    background-color: rgb(250, 242, 244);
}
.top-bar{
    text-align: center;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
} 

svg:hover{
    color: rgb(0, 0, 255);
}

h1{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;
    padding: 5px 30px 5px 30px;
    margin: 0px 30px;
    }

.name {
    font-family: gill-sans-nova, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 30px;
    }   

  .nav ul {
    list-style: none;
    background-color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: solid .05rem;
    border-color: rgb(175, 175, 175);
  }

  .nav li {
    font-family: gill-sans-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #fff;
  }
   
  .nav a {
    text-decoration: none;
    color: #222;
    display: block;
    transition: .3s background-color;
  }
   
  .nav a:hover {
    color: rgb(0, 0, 255);
  }

  .nav li {
      display: inline-block;
      margin-right: -4px;
  }

  @media screen and (min-width: 300px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
  }

  @media screen and (max-width: 600px) {
    .nav a {
      text-align: justify;
    }

    h1{
      padding: 0px 0px;
      margin: 0px 25px;
    }
  }

.logo{
  padding-top: 100px;
  width: 200px;
}

   .main{
    display: flex;
    margin:0px 80px;
  }

  .main img {
  padding:0px 5px;
  width:45%
    }  

  @media screen and (max-width: 1273px) {

    .logo{
      display: none;
    }
    .main{
      display: flex;
      margin: 0px 0px;
    }
  
    .main img {
    padding: 0px 2px;
    width:50%;
      }
  }



 .text1{
  font-family: gill-sans-nova, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 50px;
  line-height: 1;

 }

   .text2{
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
 } 




.main-text p{
margin:0px;
}

@media screen and (min-width: 1273px) {
  .main-text{
    display: flex;
    flex-direction: column;
  }
  

}

.main-text a{
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  width: 13rem;
  padding: 1rem 0;
  text-align: center;
  font-size: 20px;
  border-radius: 2px;
  background-color: #222;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1273px) {
 
  .main{
    display: block;
  }
  .main-image{
    display: flex;
    flex-direction: row;
  }
  .main-text{
    margin-top: 40px;
    justify-content: center;
    text-align: center;
  }

  .main-text a {
    padding:20px 5rem;
  }

}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
 }


.faceimg{
  height: 850px;
  display: flex;
  flex-direction: row;
  padding:10px 10px;
}

.products{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 0;
}

.products li .productimage{
  width:100%;
  display: flex;
  height: 300px;
  flex-direction: row;
  padding: 10px 10px 0 0;
}


.productname a{
  font-family: gill-sans-nova, sans-serif;
  font-weight: 600;
  color: #222;
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
}

.productlist{
  box-sizing: border-box;
 height: 120px;
  padding: 10px 8px 0;
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
  margin-right: 10px;
}

.productdescription{
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  color: #222;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  padding-bottom: 1rem;
}

.button{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-size: 14px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 600;
  color: #222;
  background-color: white;
  padding: 12px 16px;
  border: .1px solid rgb(146, 146, 146);
  border-radius: 2px;
}

.productname a:hover{
  color: rgb(0, 0, 255);
  text-decoration: underline solid rgb(0, 0, 255);
}

.button:hover{
  border: .3px solid rgb(0, 0, 0);
}

.price{
  padding-left: 80px;
}

.sub{
  box-sizing: border-box;
  background-color: rgb(250, 242, 244);
  margin-top: 32px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-left: 0;
}

h2{
  font-family: kepler-std,serif;
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
}

.sub1{
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .sub{
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 35vw;
    padding-bottom: 32px; 
  }
}

@media screen and (max-width: 943px){
  ul{
    padding-inline-start: 0 0 0 20px;
  }

  .productlist{
    height:100px
  }

  .faceimg{
    height: 650px;
    display: flex;
    flex-direction: row;
    padding:10px 10px;
  }


.button{
  padding: 5px 10px;
  font-size: 12px;
}

.price {
  padding-left: 50px;
}

}


@media screen and (max-width: 480px){
 

  .products li .productimage{
    height:260px;
    width:auto;
  }

}



@media screen and (max-width: 710px){
  .faceimg{
    display: none;
  }

  .products li .productimage{
    height:300px;
    width:auto;
  }

}

@media screen and (max-width: 445px){
  .products li .productimage{
    height:220px;
    width:auto;
  }
  }

.aboutglossier{
  background-color:#F5E3E7;
  padding: 56px 10vh 75px;
  display: flex;
  flex-direction: row;
}

.abouticon{
  width: 100%;
  max-width: 32px;
  max-height: 32px;
  margin-bottom: 16px;
  margin-top: 16px;
}

h3{
  padding-left: 10vh;
  padding-right: 10vh;
 font-size: 28px;
 font-family: gill-sans-nova, sans-serif;
 font-weight: 600;
 font-style:italic;
 margin-bottom: 0;
 padding-top: 75px;
 background-color:#F5E3E7;
}

.about-sub{
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  color: #222;
  font-style: normal;
  text-align: left;
  font-size: 14px;
}

.description{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 575px){
 
  .aboutglossier{
    display: flex;
    flex-direction: column;
  }


}

.press-sum{
  font-family: kepler-std,serif;
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  color: #222;
  font-style: italic;
}

.press{
  box-sizing: border-box;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 100%;
    margin-left: 16px;
    margin-right: 16px;
}
