body {
    margin: 0;
    padding: 0;
    background-color: white;
  }

.top{
    height: 13%;
    background-color: rgb(250, 242, 244);
}
.top-bar{
    text-align: center;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
} 


svg:hover {
    color: rgb(0, 0, 255);
}

.dropdown-content a{
  float: left;
  overflow: hidden;
  position: absolute;
}

.menu-bar:hover > .dropdown-content > a
{
  opacity: 1;
  visibility: visible;
  position: relative;
  display: inline-block;
}

.dropdown-content a{
  background: pink;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  transition: all 0.5s ease;
  margin-top: 2rem;
}


 
.h1{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;
    padding: 5px 30px 5px 30px;
    margin: 0px 30px;
    }

.name a {
    font-family: gill-sans-nova, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 30px;
    text-decoration: none;
    color: black;
    }   

  .nav ul {
    list-style: none;
    background-color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: solid .05rem;
    border-color: rgb(175, 175, 175);
  }

  .nav li {
    font-family: gill-sans-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #fff;
  }
   
  .nav a {
    text-decoration: none;
    color: #222;
    display: block;
    transition: .3s background-color;
  }
   
  .nav a:hover {
    color: rgb(0, 0, 255);
  }

  .nav li {
      display: inline-block;
      margin-right: -4px;
  }

  @media screen and (min-width: 300px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
  }

  @media screen and (max-width: 600px) {
    .nav a {
      text-align: justify;
    }

    h1{
      padding: 0px 0px;
      margin: 0px 25px;
    }
  }

.logo{
  padding-top: 100px;
  width: 200px;
}

   .main{
    display: flex;
    margin:0px 80px;
  }

  .main img {
  padding:0px 5px;
  width:45%
    }  

  @media screen and (max-width: 1273px) {

    .logo{
      display: none;
    }
    .main{
      display: flex;
      margin: 0px 0px;
    }
  
    .main img {
    padding: 0px 2px;
    width:50%;
      }
  }



.text1{
  font-family: gill-sans-nova, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 50px;
  line-height: 1;
}

.text2{
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
} 



.main-text p {
  margin:0px;
}

@media screen and (min-width: 1273px) {
  .main-text{
    display: flex;
    flex-direction: column;
  }
  

}

.main-text a{
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  width: 13rem;
  padding: 1rem 0;
  text-align: center;
  font-size: 20px;
  border-radius: 2px;
  background-color: #222;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1273px) {
 
  .main{
    display: block;
  }
  .main-image{
    display: flex;
    flex-direction: row;
  }
  .main-text{
    margin-top: 40px;
    justify-content: center;
    text-align: center;
  }

  .main-text a {
    padding:20px 5rem;
  }

}

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}

.face-img {
  height: 850px;
  width: auto;
}

.product-column {
  display: flex;
  flex-direction: column;
  max-height: 850px;
  justify-content: space-between;
  margin-left: 1rem;
}

.product-image > img {
  width: 100%;
  height: 300px;
}


.product-name {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 600;
  color: #222;
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
}

.product-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  padding: 10px 8px;
  background-color: #f5f6f7;
  margin-top: -5px;
}

.product-desc {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  color: #222;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  margin-top: -1rem;
}

.shop-btn {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  background-color: white;
  height: 40%;
  border: .1px solid rgb(146, 146, 146);
  border-radius: 2px;
  justify-content: space-between;
}

.shop-btn div {
  font-size: 14px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 600;
  color: #222;
  padding: 0 .5rem;
}

.product-name:hover{
  color: rgb(0, 0, 255);
  text-decoration: underline solid rgb(0, 0, 255);
}

.shop-btn:hover{
  border: .3px solid rgb(0, 0, 0);
}


.sub{
  box-sizing: border-box;
  background-color: rgb(250, 242, 244);
  margin-top: 32px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-left: 0;
}

h2 {
  font-family: kepler-std,serif;
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
}

.sub1{
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .sub {
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 35vw;
    padding-bottom: 32px; 
  }
}

@media screen and (max-width: 1000px){
  .product-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 1rem;
  }
}


@media screen and (max-width: 920px){
  .face-img {
    display: none;
  }
}

@media screen and (max-width: 445px){
  .product-image > img {
    max-height: 220px;
    width: auto;
  }
}

.aboutglossier{
  background-color:#F5E3E7;
  padding: 56px 10vh 75px;
  display: flex;
  flex-direction: row;
}

.abouticon{
  width: 100%;
  max-width: 32px;
  max-height: 32px;
  margin-bottom: 16px;
  margin-top: 16px;
}

h3{
  padding-left: 10vh;
  padding-right: 10vh;
 font-size: 28px;
 font-family: gill-sans-nova, sans-serif;
 font-weight: 600;
 font-style:italic;
 margin-bottom: 0;
 padding-top: 75px;
 background-color:#F5E3E7;
}

.about-sub{
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  color: #222;
  font-style: normal;
  text-align: left;
  font-size: 14px;
  padding:10px;
}

.description{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 575px){
  .aboutglossier{
    display: flex;
    flex-direction: column;
  }
}

.footer{
  background-color: black;
  color:white;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 80px 100px;
  font-size: 16px;
  margin-top: 50px;
}

.footer-start{
padding-right: 3rem;
margin-bottom: 10px;
}

.container input{
  background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    margin-top: 7px;
    width:30vw;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
}

.footer-logo{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  align-items: center;
}

.footer-logo img{
  filter:invert(100%);
  height: 40px;
  padding-right: 20px;
 
}

.socialmedia{
padding-left: 80px;
}

.social img{
  height: 20px;
}

@media screen and (max-width: 485px){
  .footer-start{
    padding:0;
  } 
 }

 @media screen and (max-width: 690px){
.footer-logo{
  flex-direction: column;
  } 
  .footer-logo img{
    padding-right: 0;
    padding-bottom: 10px;
  }

  .logo-text{
    padding-bottom: 10px;
  }

  .socialmedia{
    padding-left: 0;
  }

  .social img{
    padding:0 5px;
  }
 }